<%-include('../includes/userStart')  %>
<header>
    <%-include('../includes/userHomeNav')  %>
  </header>
  <section>
        <div class="flex items-center justify-center h-screen bg-gray-500 bg-cover bg-no-repeat w-full"style="background-image: url('/images/david-hellmann-06ItjjY7ajU-unsplash.jpg')">
        <div class="w-full bg-gray-50 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-900 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
              Sign Up
            </h1>
                <form class="space-y-4 md:space-y-5" action="brepublic/landing/register" method="post">
                  <div class="error-container"></div>
                  <div class=" text-red-600 firstName error"></div>
                  <div class="flex space-x-4">
                    <div class="flex-1">
                      <div class="text-red-600 firstName error"></div>
                      <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your first name</label>
                      <input type="text" name="user_firstName" id="firstName" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="First name" >
                    </div>
                
                    <div class="flex-1">
                      <div class="text-red-600 secondName error"></div>
                      <label for="secondName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your second name</label>
                      <input type="text" name="user_secondName" id="secondName" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Second name">
                    </div>
                  </div>
                  <div class=" text-red-600 email error"></div>
                  <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                    <input type="text" name="user_email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="your@email.com">
                </div>
                <!-- <div class=" text-red-600 number error"></div>
                  <div>
                    <label for="number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mobile number</label>
                    <input type="text" name="user_number" id="number" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com">
                </div> -->
                <div class="text-red-600 text-sm password error"></div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input type="password" name="user_password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="confirm error text-red-600 text-sm"></div>
                    <div>
                      <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
                      <input type="password" name="confirm_password" id="confirm_password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <!-- <div class="flex items-start">
                        <div class="flex items-center h-5">
                          <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                        </div>
                        <div class="ml-3 text-sm">
                          <label for="terms" class="font-light text-gray-500 dark:text-gray-300">I accept the <a class="font-medium text-primary-600 hover:underline dark:text-primary-500" href="#">Terms and Conditions</a></label>
                        </div>
                    </div> -->
                    <button type="submit" class="w-full text-black bg-yellow-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create an account</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Already have an account? <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
                    </p>
                </form>
            </div>
        </div>
      </div>
    </section>
  <body>
  <script>
    const form = document.querySelector('form');

    const emailError = document.querySelector('.email.error')
    const passwordError = document.querySelector('.password.error')
    const numberError = document.querySelector('.number.error')
    const firstNameError = document.querySelector('.firstName.error')
    const secondNameError = document.querySelector('.secondName.error')

  function isEmailValid(email) {
  const regex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return regex.test(email.trim());
}

function isPasswordStrong(password) {
  // Check if the password is long enough
  if (password.length < 8) {
    return false;
  }

  // Check if the password contains at least one uppercase letter
  if (!/[A-Z]/.test(password)) {
    return false;
  }

  // Check if the password contains at least one lowercase letter
  if (!/[a-z]/.test(password)) {
    return false;
  }

  // Check if the password contains at least one number
  if (!/[0-9]/.test(password)) {
    return false;
  }

  // Check if the password contains at least one special character
  if (!/[^a-zA-Z0-9]/.test(password)) {
    return false;
  }

  // The password is strong
  return true;
}

    

    form.addEventListener('submit', async (e)=>{
      e.preventDefault()

      //reset errors
      emailError.textContent = "";
      passwordError.textContent = "";
      firstNameError.textContent = "";

      //get the value
      const firstName = form.user_firstName.value;
      const secondName = form.user_secondName.value;
      const email = form.user_email.value;
      // const number = form.user_number.value;
      const password = form.user_password.value;
      const confirm_password = form.confirm_password.value;

      // Validate the form
  if (!firstName || !secondName || !email || !password || !confirm_password) {
    console.log('enter all fields')
    firstNameError.textContent = "Enter all fields"
    return;
  }

  if (!isEmailValid(email)) {
    emailError.textContent = 'Email is not valid.';
    return;
  }

  if (!isPasswordStrong(password)) {
    passwordError.textContent = 'Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.';
    return;
  }

  if (password !== confirm_password) {
    passwordError.textContent = 'Password and confirm password must match.';
    return;
  }

      try {
        const res = await fetch('/brepublic/landing/register',{
          method:'POST',
          body: JSON.stringify({  
            firstName,
            secondName,
            email,
            // number,
            password,
          }),
          headers:{'Content-Type':'application/json'}
        })
        const data = await res.json()
        console.log(data)
        if(data.errors){
          emailError.textContent = data.errors.user_email;
          passwordError.textContent = data.errors.user_password;
          firstNameError.textContent = data.errors.user_firstName;
          secondNameError.textContent = data.errors.user_secondName;
          // numberError.textContent = data.errors.user_number
        }
        if(data.user){
          location.assign('/brepublic/landing/userHome')
        }
      } catch (err) {
        console.log(err)
      }


    })
  </script>
    <%-include('../includes/userEnd')  %>