


<div class="min-h-[300px] relative z-50 h-full max-w-6xl mx-auto flex flex-col justify-center items-center text-center text-white p-6">
  <h2 class="sm:text-5xl text-6xl font-bold mb-6">Explore the World</h2>
  <p class="text-xl text-center font-semibold text-white">Embark on unforgettable journeys. Book your dream vacation today!</p>
  <a href="javascript:void(0)"
      class="mt-8 bg-transparent text-white text-xl font-semibold py-3 px-8 border-2 border-yellow-400 rounded hover:bg-yellow-400 hover:text-black transition duration-300 ease-in-out">
      View All
  </a>
</div>

  