<div class="container mx-auto py-9 md:py-10 px-4 md:px-6">
    <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
    <div class="flex items-strech justify-center flex-col h-64 md:flex-row space-y-2 md:space-y-0 md:space-x-6 lg:space-x-8">
      <div class="flex flex-col md:flex-row items-strech justify-between bg-gray-50 dark:bg-gray-800 py-6 px-6 md:py-12 lg:px-12 md:w-8/12 lg:w-7/12 xl:w-8/12 2xl:w-9/12" style="background-image: url('/images/bikys-slideshow-1-1.jpg'); background-size: cover; background-position: center;">
        <div class="flex flex-col justify-center md:w-1/2">
          <h1 class="text-3xl lg:text-4xl font-semibold text-yellow-400 dark:text-yellow-400">Best Deal</h1>
          <p class="text-base lg:text-xl text-yellow-400 dark:text-yellow-400 mt-2">Save up to <span class="font-bold">50%</span></p>
        </div>
      </div>
      <div class="flex flex-col md:flex-row items-strech justify-between bg-gray-50 dark:bg-gray-800 py-6 px-6 md:py-12 lg:px-12 md:w-8/12 lg:w-7/12 xl:w-8/12 2xl:w-9/12" style="background-image: url('/images/bikys-slideshow-1-2.jpg'); background-size: cover; background-position: center;">
        <div class="flex flex-col justify-center md:w-1/2">
          <h1 class="text-3xl lg:text-4xl font-semibold text-yellow-400 dark:text-yellow-400">Best Deal</h1>
          <p class="text-base lg:text-xl text-yellow-400 dark:text-yellow-400 mt-2">Save up to <span class="font-bold">50%</span></p>
        </div>
      </div>
      
    </div>
  </div>
